[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fpa"]
	path = fpa
	url = https://github.com/cran/fpa
	shallow = true
	registered = true
